directory: ~/Music
library: ~/.cache/beets/library.db
statefile: ~/.cache/beets/state.pickle

paths:
    default: $albumartist/$album%aunique{}/$track. $artist - $title
    singleton: Non-Album/$artist/$title
    comp: Compilations/$album%aunique{}/$track. $artist - $title
    albumtype:soundtrack: Soundtracks/$album/$track. $artist - $title

import:
  move: true

#plugins: absubmit badfiles fuzzy missing random mbsync
plugins: chroma acousticbrainz fetchart embedart lastgenre lyrics replaygain edit info
# potential plugins: convert export 

# generate chroma acoustic id to get better matching
chroma:
  auto: yes

#####################
# Meta data plugins #
#####################

# fetches acoustic information from acoustic brainz
acousticbrainz:
  auto: yes
  force: yes

# fetches album art from various sources and stores
fetchart:
  auto: yes
  sources: wikipedia fanarttv coverart albumart itunes amazon filesystem
  cover_names: cover front art album folder back
  fanarttv_key: {{ .fanarttv_key }}

embedart:
  auto: yes
  remove_art_file: no

lastgenre:
  auto: yes
  count: 3

lyrics:
  auto: yes
  fallback: ''

replaygain:
  auto: yes
  backend: gstreamer

#absubmit:
#  auto: yes


#badfiles:
#        commands:
#                flac: flac --test --warnings-as-errors --silent

