;;; ~/src/dotfiles/emacs/.config/doom/+mu4e.el -*- lexical-binding: t; -*-

(after! mu4e
  (setq mu4e-user-mail-address-list user-mail-addresses)
  (setq mu4e-compose-signature (concat user-full-name "\n" user-mail-address))
  (setq mu4e-update-interval 600)
(setq
 user-full-name "{{ .name }}"
 user-mail-address "{{ .email }}"
 user-mail-addresses '("{{ .email }}" "{{ .email2 }}" "{{ .email3 }}")
 smtpmail-smtp-server "smtp.fastmail.com"
 smtpmail-smtp-service 587
 smtpmail-stream-type 'starttls
;; smtpmail-smtp-service 465
;; smtpmail-stream-type 'ssl
 )

(add-to-list 'auth-sources "~/.authinfo")

  (setq sent-folder "/fastmail/Sent"
        drafts-folder "/fastmail/Draft"
        trash-folder "/fastmail/Trash"
        refile-folder "/fastmail/Archive")


  (setq mu4e-maildir       "~/.mail"   ;; top-level Maildir
        mu4e-sent-folder   sent-folder
        mu4e-drafts-folder drafts-folder
        mu4e-trash-folder  trash-folder
        mu4e-refile-folder refile-folder)

  (setq
   mu4e-headers-fields
   '((:human-date . 12)
     (:flags . 6)
     (:from-or-to . 22)
     (:thread-subject))
   )

  (setq
   mu4e-view-show-addresses t
   mu4e-view-show-images t
   mu4e-view-html-plaintext-ratio-heuristic most-positive-fixnum)

  (setq message-kill-buffer-on-exit nil)
  (setq mu4e-change-filenames-when-moving t)


  )

  (map! :leader :desc "mu4e" "o m" #'=mu4e)
